<h1>Users</h1>
<div id="users" v-bind:class="{ success: success }">
  <div class="user-display">
    <ul>
      <user-display v-for="user in users" :user="user"></user-display>
    </ul>
  </div>
  <user-forms :users="users"></user-forms>
</div>
